<%= form_with(model: photo_album, local: true) do |form| %>
  <% if photo_album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo_album.errors.count, "error") %> prohibited this photo_album from being saved:</h2>

      <ul>
      <% photo_album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :photo_album_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :photo_album_description %>
  </div>

  <div class="field">
    <%= form.label :cover_image %>
    <%= form.file_field :cover_image, id: :photo_album_cover_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
